{% extends 'layout_list.html' %}

{% block new_action %}
    <a class="btn btn-default" href="{% url "pizza:pizzabase_creation" %}">
        <i class="fa fa-plus"></i> New Pizza Base</a>
{% endblock %}

{% block table %}
    <table id="datatable_tabletools" class="table table-striped table-bordered table-hover" width="100%">
        <thead>
        <tr>
            <th>Name</th>
            <th>Description</th>
            <th width="20%" data-hide="phone,tablet"></th>
        </tr>
        </thead>
        <tbody>
        {% for pizzabase in object_list %}
            <tr>
                <td>{{ pizzabase.name }}</td>
                <td>{{ pizzabase.description }}</td>
                <td class="text-align-center">
                    <div class="btn-group">
                        <a class="btn btn-default" href="{% url "pizza:pizzabase_detail" pizzabase.id %}"><i
                                class="fa fa-eye"></i></a>
                        <a class="btn btn-default" href="{% url "pizza:pizzabase_edit" pizzabase.id %}"><i
                                class="fa fa-edit"></i></a>
                        <a class="btn btn-default" href="{% url "pizza:pizzabase_delete" pizzabase.id %}"><i
                                class="fa fa-trash"></i></a>
                    </div>
                </td>

            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
