{% extends 'base.html' %} 

{% load static %}

{% block javascript %}

<link href="{% static "client/css/smart_cart.css" %}" rel="stylesheet" type="text/css">
<script type="text/javascript" src="{% static "client/js/jquery-1.3.2.min.js" %}"></script>
<script type="text/javascript" src="{% static "client/js/jquery.smartCart-2.0.js" %}"></script>

{% endblock %}

{% block javascripts %}
<!-- este bloque se define aqui solo para eliminar el llamado de la libreria jquery -->
<!-- debido a que smartCart usa una versión más antigua -->
{% endblock %}

{% block content %}

<script type="text/javascript">
    $(document).ready(function() {
        // Call Smart Cart    	
        $('#SmartCart').smartCart();
    });
</script>

<form action='{% url "sale:sale_order_create" %}' method="post">
    <!-- Smart Cart HTML Starts -->
    {% csrf_token %}
    <div id="SmartCart" class="scMain">

        {% for pizza in pizzas %}

        <input type="hidden" pimage="{{ pizza.pizza_base.image.url }}" pprice="{{ pizza.price }}" pdesc="{{ pizza.pizza_base.description }}" pcategory="{{ pizza.size }}" pname="{{ pizza.pizza_base.name }}" pid="{{ pizza.id }}"> {% endfor %}
    </div>
    <!-- Smart Cart HTML Ends -->
</form>
<div>
    </section>
    {% endblock %}
