# Ignore python cache files  *.pyc
*.pyc

# Ignore pycharm files and folders

*.iml
.idea/
skywalker/idea
## File-based project format:
*.ipr
*.iws

#Ignore migration files
skywalker/*/migrations/*.py
!skywalker/*/migrations/__init__.py

#Ignorando scripts
concesionario/*.sh

#Ignore local dev settings
skywalker/skywalker/settings/dev.py

#Ignore .sqlite3 files
*.sqlite3
