{% load static %}
<aside id="left-panel">

  <!-- User info -->
  <div class="login-info">
    <span> <!-- User image size is adjusted inside CSS, it should stay as is -->

      <a href="javascript:void(0);" id="show-shortcut" data-action="toggleShortcut">
        <img src="{% static "baseapp/img/avatars/sunny.png" %}" alt="me" class="online" />
        <small>
          {{ user.email|lower }}
        </small>
        <i class="fa fa-angle-down"></i>
      </a>

    </span>
  </div>
  <!-- end user info -->

  <!-- NAVIGATION : This navigation is also responsive

  To make this navigation dynamic please make sure to link the node
  (the reference to the nav > ul) after page load. Or the navigation
  will not initialize.
  -->

  <nav>
    <!--
    NOTE: Notice the gaps after each icon usage <i></i>..
    Please note that these links work a bit different than
    traditional href="" links. See documentation for details.
    -->
    <ul>
      <li>
        <a href="#">role {{ request.session.user_role|capfirst }}</a>
      </li>
    </ul>
    {% if request.session.user_role  == "client" %}
      {% include "includes/navlist_client.html" %}
    {% elif request.session.user_role == "administrator" %}
      {% include "includes/navlist_admin.html" %}
    {% elif request.session.user_role == "employee" %}
      {% include "includes/navlist_employee.html" %}
    {% endif %}

    {% block nav-list %}
		{% endblock %}

  </nav>

  <span class="minifyme" data-action="minifyMenu"> <i class="fa fa-arrow-circle-left hit"></i> </span>

</aside>
