<ul>
  <li>
    <a href="#"><i class="fa fa-lg fa-fw fa-bar-chart-o"></i> <span class="menu-item-parent">My orders</span><b class="collapse-sign"><em class="fa fa-plus-square-o"></em></b></a>
    <ul>
      <li>
        <a href="ajax/flot.html">Flot Chart</a>
      </li>
      <li>
        <a href="ajax/morris.html">Morris Charts</a>
      </li>
      <li>
        <a href="ajax/sparkline-charts.html">Sparklines</a>
      </li>
      <li>
        <a href="ajax/easypie-charts.html">EasyPieCharts</a>
      </li>
      <li>
        <a href="ajax/dygraphs.html">Dygraphs</a>
      </li>
      <li>
        <a href="ajax/chartjs.html">Chart.js</a>
      </li>
      <li>
        <a href="ajax/hchartable.html">HighchartTable <span class="badge pull-right inbox-badge bg-color-yellow">new</span></a>
      </li>
    </ul>
  </li>
</ul>