{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="M_Adnan">
    <title>Pizza SkyWalker</title>

    <!-- SLIDER REVOLUTION 4.x CSS SETTINGS -->
    <link rel="stylesheet" type="text/css" href="{% static "client/rs-plugin/css/settings.css" %}" media="screen"/>

    <!-- Bootstrap Core CSS -->
    <link href="{% static "client/css/bootstrap.min.css" %}" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="{% static "client/css/font-awesome.min.css" %}" rel="stylesheet" type="text/css">
    <link href="{% static "client/css/ionicons.min.css" %}" rel="stylesheet">
    <link href="{% static "client/css/main.css" %}" rel="stylesheet">
    <link href="{% static "client/css/style.css" %}" rel="stylesheet">
    <link href="{% static "client/css/responsive.css" %}" rel="stylesheet">

    <!-- JavaScripts -->
    <script src="{% static "client/js/modernizr.js" %}"></script>

    <!-- Online Fonts -->
    <link href='https://fonts.googleapis.com/css?family=Alex+Brush' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Josefin+Sans:400,300,600,600italic,700italic,100'
          rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700,600,300,800' rel='stylesheet' type='text/css'>


    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->

{% block javascript %}
<script src="{% static "client/js/jquery-1.11.3.min.js" %}"></script>
<script src="{% static "client/js/bootstrap.min.js" %}"></script>
<script src="{% static "client/js/own-menu.js" %}"></script>
<script src="{% static "client/js/owl.carousel.min.js" %}"></script>
<!-- SLIDER REVOLUTION 4.x SCRIPTS  -->
<script type="text/javascript" src="{% static "client/rs-plugin/js/jquery.tp.t.min.js" %}"></script>
<script type="text/javascript" src="{% static "client/rs-plugin/js/jquery.tp.min.js" %}"></script>
<script src="{% static "client/js/main.j" %}s"></script>

<!-- Begin Map Script-->
<script src="https://maps.googleapis.com/maps/api/js?v=3.exp"></script>
<script src="{% static "client/js/map.js" %}"></script>
{% endblock %}


</head>
<body>

<!-- Wrap -->
<div id="wrap">

    <!-- Top Bar -->
    <div class="top-bar tri-white-bottom">
        <div class="container">

            <!-- Pull Left -->
            <span class="numb">Pedir a domicilio (+572) 123-456-7890</span>
            <!-- Social Icons -->
            <div class="social"><a href="#."><i class="fa fa-facebook"></i></a> <a href="#."><i
                    class="fa fa-twitter"></i></a> <a href="#."><i class="fa fa-instagram"></i></a></div>
            <span class="time-ta">Abrimos desde las 10:00am - 11:00pm</span>

            <!-- Pull Right -->
            <div class="pull-right">
                <ul class="login-info">
                    <li>
                        <select class="selectpicker">
                            <option>ES</option>
                            <option>FR</option>
                        </select>
                    </li>
                    {% if user.is_authenticated %}
                        <li><a href="#">{{ user.email }}</a></li>
                        <li><a href="{% url 'accounts:logout' %}">Cerrar sesión</a></li>
                    {% else %}
                        <li><a href="{% url 'login' %}">Acceder</a></li>
                        <li><a href="{% url 'account_signup' %}">Registrese</a></li>
                        <li><a href="{% url "client:client_history"  %}">History</a></li>
                    {% endif %}
                </ul>
            </div>
            
        </div>
    </div>
{% block body %}
    <!-- header -->
    <header>
        <div class="sticky">
            <div class="container">

                <!-- Logo -->
                <div class="logo"><a href="index.html"><img class="img-responsive"
                                                            src="{% static "client/images/logo.png" %}" alt=""></a>
                </div>
                <!-- Navigation -->
                <nav class="navbar">
                    <!-- NAV -->
                    <ul class="nav ownmenu">
                        <li class="scroll active"><a href="#home">Inicio </a></li>
                        <li class="scroll"><a href="#our-menu">Menu </a></li>
                        <li class="scroll"><a href="#restaurant">Restaurante </a></li>
                        <li class="scroll"><a href="#testimonials">Testimonios </a></li>
                        <li class="scroll"><a href="#contact">Contacto </a></li>
                        <li><a href="index.html">Pages </a>
                            <ul class="dropdown right animated-3s fadeIn">
                                <li><a href="02-Composer-Step1.html">Composer Step 1</a></li>
                                <li><a href="03-Composer-Step2.html">Composer Step 2</a></li>
                                <li><a href="04-Composer-Step3a.html">Composer Step 3a</a></li>
                                <li><a href="05-Composer-Step3b.html">Composer Step 3b</a></li>
                                <li><a href="06-Composer-Step3c.html">Composer Step 3c</a></li>
                                <li><a href="Composer-SinglePage-MultiPizza.html">Composer Multi Pizza</a></li>
                                <li><a href="Composer-SinglePage-SinglePizza.html">Composer Single Pizza</a></li>
                            </ul>
                        </li>
                    </ul>

                    <!-- Nav Right -->
                    <div class="nav-right"><a href="{% url "client:client_order"  %}" class="compose">Hacer Pedido <i
                            class="fa fa-check-square-o"></i></a></div>
                </nav>
            </div>
        </div>
    </header>


    <!--======= HOME MAIN SLIDER =========-->
    <section class="home-slider" id="home">
        <!-- Slider Loader -->
        <div id="loader" class="hom-slie">
            <div class="tp-loader spinner0"><span class="dot1"></span> <span class="dot2"></span> <span
                    class="bounce1"></span> <span class="bounce2"></span> <span class="bounce3"></span></div>
        </div>

        <!-- SLIDE Start -->
        <div class="tp-banner-container">
            <div class="tp-banner">
                <ul>
                    <!-- SLIDE  -->
                    <li data-transition="random" data-slotamount="7" data-masterspeed="300" data-saveperformance="off">
                        <!-- MAIN IMAGE -->
                        <img src="{% static "client/images/slide-bg-1.jpg" %}" alt="slider"
                             data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat">
                        <!-- LAYERS -->

                        <!-- LAYER NR. 1 -->
                        <div class="tp-caption font-alex sft tp-resizeme"
                             data-x="center" data-hoffset="0"
                             data-y="center" data-voffset="-80"
                             data-speed="800"
                             data-start="800"
                             data-easing="Power3.easeInOut"
                             data-splitin="words"
                             data-splitout="none"
                             data-elementdelay="0.1"
                             data-endelementdelay="0.1"
                             data-endspeed="300"
                             style="z-index: 7; font-size:60px; color:#ff8400; max-width: auto; max-height: auto; white-space: nowrap;">
                            Deliciosa Pizza
                        </div>

                        <!-- LAYER NR. 2 -->
                        <div class="tp-caption sfb font-josefin font-bold tp-resizeme"
                             data-x="center" data-hoffset="0"
                             data-y="center" data-voffset="0"
                             data-speed="800"
                             data-start="1200"
                             data-easing="Power3.easeInOut"
                             data-splitin="words"
                             data-splitout="none"
                             data-elementdelay="0.07"
                             data-endelementdelay="0.1"
                             data-endspeed="300"
                             style="z-index: 6; font-size:80px; color:#fff; text-transform:uppercase; white-space: nowrap;">
                            Estilo Italiano
                        </div>

                        <!-- LAYER NR. 3 -->
                        <div class="tp-caption lfb"
                             data-x="center" data-hoffset="0"
                             data-y="center" data-voffset="80"
                             data-speed="800"
                             data-start="1400"
                             data-easing="Power3.easeInOut"
                             data-elementdelay="0.1"
                             data-endelementdelay="0.1"
                             data-endspeed="300"
                             data-scrolloffset="0"
                             style="z-index: 8;"><img src="{% static "client/images/bnr-bar.png" %}" alt=""></div>

                        <!-- LAYER NR. 4 -->
                        <div class="tp-caption lfb tp-resizeme"
                             data-x="center" data-hoffset="0"
                             data-y="center" data-voffset="160"
                             data-speed="800"
                             data-start="1600"
                             data-easing="Power3.easeInOut"
                             data-elementdelay="0.1"
                             data-endelementdelay="0.1"
                             data-endspeed="300"
                             data-scrolloffset="0"
                             style="z-index: 8;"><a href="{% url "client:client_order"  %}" class="btn btn-round">Iniciar Ordenando <i
                                class="fa fa-long-arrow-right"></i></a></div>
                    </li>

                    <!-- SLIDE  -->
                    <li data-transition="random" data-slotamount="7" data-masterspeed="300" data-saveperformance="off">
                        <!-- MAIN IMAGE -->
                        <img src="{% static "client/images/slide-bg-2.jpg" %}" alt="slider"
                             data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat">
                        <!-- LAYERS -->

                        <!-- LAYER NR. 1 -->
                        <div class="tp-caption font-alex sft tp-resizeme"
                             data-x="center" data-hoffset="0"
                             data-y="center" data-voffset="-80"
                             data-speed="800"
                             data-start="800"
                             data-easing="Power3.easeInOut"
                             data-splitin="words"
                             data-splitout="none"
                             data-elementdelay="0.1"
                             data-endelementdelay="0.1"
                             data-endspeed="300"
                             style="z-index: 7; font-size:60px; color:#ff8400; max-width: auto; max-height: auto; white-space: nowrap;">
                            Order or Compose
                        </div>

                        <!-- LAYER NR. 2 -->
                        <div class="tp-caption sfb font-josefin font-bold tp-resizeme"
                             data-x="center" data-hoffset="0"
                             data-y="center" data-voffset="0"
                             data-speed="800"
                             data-start="1200"
                             data-easing="Power3.easeInOut"
                             data-splitin="words"
                             data-splitout="none"
                             data-elementdelay="0.07"
                             data-endelementdelay="0.1"
                             data-endspeed="300"
                             style="z-index: 6; font-size:80px; color:#fff; text-transform:uppercase; white-space: nowrap;">
                            The Best Pizza
                        </div>

                        <!-- LAYER NR. 3 -->
                        <div class="tp-caption lfb"
                             data-x="center" data-hoffset="0"
                             data-y="center" data-voffset="80"
                             data-speed="800"
                             data-start="1400"
                             data-easing="Power3.easeInOut"
                             data-elementdelay="0.1"
                             data-endelementdelay="0.1"
                             data-endspeed="300"
                             data-scrolloffset="0"
                             style="z-index: 8;"><img src="{% static "client/images/bnr-bar.png" %}" alt=""></div>

                        <!-- LAYER NR. 4 -->
                        <div class="tp-caption lfb tp-resizeme"
                             data-x="center" data-hoffset="0"
                             data-y="center" data-voffset="160"
                             data-speed="800"
                             data-start="1600"
                             data-easing="Power3.easeInOut"
                             data-elementdelay="0.1"
                             data-endelementdelay="0.1"
                             data-endspeed="300"
                             data-scrolloffset="0"
                             style="z-index: 8;"><a href="#." class="btn btn-round">Start Ordering <i
                                class="fa fa-long-arrow-right"></i></a></div>
                    </li>

                    <!-- SLIDE  -->
                    <li data-transition="random" data-slotamount="7" data-masterspeed="300" data-saveperformance="off">
                        <!-- MAIN IMAGE -->
                        <img src="{% static "client/images/slide-bg-3.jpg" %}" alt="slider"
                             data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat">
                        <!-- LAYERS -->

                        <!-- LAYER NR. 1 -->
                        <div class="tp-caption font-josefin sfb"
                             data-x="center" data-hoffset="0"
                             data-y="center" data-voffset="-20"
                             data-speed="800"
                             data-start="800"
                             data-easing="Power3.easeInOut"
                             data-splitin="none"
                             data-splitout="none"
                             data-elementdelay="0.1"
                             data-endelementdelay="0.1"
                             data-endspeed="300">
                            <div class="zip-code">
                                <form>
                                    <label>
                                        <input type="search" placeholder="Enter your zip code">
                                    </label>
                                    <button type="submit"><i class="fa fa-angle-double-right"></i></button>
                                </form>
                            </div>
                        </div>

                        <!-- LAYER NR. 2 -->

                        <!-- LAYER NR. 3 -->
                        <div class="tp-caption lfb"
                             data-x="center" data-hoffset="0"
                             data-y="center" data-voffset="80"
                             data-speed="800"
                             data-start="1400"
                             data-easing="Power3.easeInOut"
                             data-elementdelay="0.1"
                             data-endelementdelay="0.1"
                             data-endspeed="300"
                             data-scrolloffset="0"
                             style="z-index: 8;"><img src="{% static "client/images/bnr-bar.png" %}" alt=""></div>

                        <!-- LAYER NR. 4 -->
                        <div class="tp-caption lfb tp-resizeme"
                             data-x="center" data-hoffset="0"
                             data-y="center" data-voffset="160"
                             data-speed="800"
                             data-start="1600"
                             data-easing="Power3.easeInOut"
                             data-elementdelay="0.1"
                             data-endelementdelay="0.1"
                             data-endspeed="300"
                             data-scrolloffset="0"
                             style="z-index: 8;"><a href="#." class="btn btn-round">Start Ordering <i
                                class="fa fa-long-arrow-right"></i></a></div>
                    </li>
                </ul>
            </div>
        </div>
    </section>


    <!-- Content -->
    <div id="content">

        <!-- Pizza Menu -->
        <section class="pizza-menu tri-white-top padding-top-100 padding-bottom-100" id="our-menu">
            <div class="container">

                <!-- Heading Block -->
                <div class="heading text-center"><span>Placer de Escoger</span>
                    <h3>Menú de Pizzas</h3>
                    <hr>
                    <i class="fa fa-bookmark-o"></i></div>

                <!-- Flavours -->
                <ul class="pizza-flavers">

                    <!-- Pizza Flavours -->
                    {% for pizza in pizzas %}
                        <li>
                            <!-- Pizza Image -->
                            <div class="media-left">
                                <div class="menu-img"><img src="{{ pizza.pizza_base.image.url }}"
                                                           alt="{{ pizza.pizza_base.description }}"></div>
                            </div>
                            <!-- Pizza Tittles -->
                            <div class="media-body">
                                <div class="row">
                                    <div class="menu-tittle col-lg-6">
                                        <h5>{{ pizza.pizza_base.name }}</h5>
                                        <span>
                                    {% for ingredient in pizza.pizza_base.aditions.all %}
                                        {{ ingredient.name }}
                                    {% endfor %}
                                </span>
                                    </div>
                                    <div class="pizza-size col-lg-3">
                                        {{ pizza.size }}
                                    </div>
                                    <div class="pizza-price col-lg-3">
                                        ${{ pizza.price }}
                                    </div>
                                </div>
                                <!-- Pizza Price -->

                            </div>
                        </li>
                    {% endfor %}
                </ul>
                <div>
        </section>

        <!-- Quality Matters -->
        <section class="quaility-img tri-white-top padding-top-150 padding-bottom-150" id="restaurant">
            <div class="container">

                <!-- Heading Block -->
                <div class="heading text-center margin-bottom-0"><span style="color: #000">Quality Matters</span>
                    <h3 style="color: #000">We use only The best ingredients</h3>
                    <hr>
                    <i class="fa fa-bookmark-o"></i></div>
            </div>
        </section>

        <!-- Our Restaurant -->
        <section class="inside-resturant tri-white-top padding-top-150 padding-bottom-150">
            <div class="container">

                <!-- Heading Block -->
                <div class="heading text-center"><span>Our Restaurant</span>
                    <hr>
                    <i class="fa fa-bookmark-o"></i></div>

                <!-- Resturant Img -->
                <div class="resturant-img margin-bottom-60"><img class="img-responsive"
                                                                 src="{% static "client/images/restaurant-img.jpg" %}"
                                                                 alt=""></div>

                <!-- Intro Text -->
                <div class="col-md-7 center-block">
                    <div class="about-text text-center">
                        <h1>from<br>
                            our <span>hearts</span></h1>
                        <p>We love Italy, we love italian food. Donec venenatis, turpis vel hendrerit interdum, dui
                            ligula ultricies purus, sed posuere libero dui id orci. Nam congue, pede vitae dapibus
                            aliquet, elit magna vulputate. Bon Appetit!</p>
                    </div>
                </div>
            </div>
        </section>

        <!-- Testimonial -->
        <section class="testimonial tri-white-top padding-top-100 padding-bottom-150" id="testimonials">
            <div class="container">

                <!-- Heading Block -->
                <div class="heading text-center white"><span>Testimonials</span>
                    <h3>What They Say About Us</h3>
                    <hr>
                    <i class="fa fa-bookmark-o"></i></div>

                <!-- Testi Slide -->
                <div class="item-slide">

                    <!-- Testi Slide -->
                    <div class="item-inn"><img src="{% static "client/images/avatar-1.jpg" %}" alt="">
                        <h5>Eden Hazard</h5>
                        <i class="fa fa-star"></i>
                        <p>We love Italy, we love italian food. Visit at Pizza Mia was nothing less than pleasure.</p>
                    </div>

                    <!-- Testi Slide -->
                    <div class="item-inn"><img src="{% static "client/images/avatar-2.jpg" %}" alt="">
                        <h5>Emily Brown</h5>
                        <i class="fa fa-star"></i>
                        <p>We love Italy, we love italian food. Visit at Pizza Mia was nothing less than pleasure.</p>
                    </div>

                    <!-- Testi Slide -->
                    <div class="item-inn"><img src="{% static "client/images/avatar-3.jpg" %}" alt="">
                        <h5>Liv Tyler</h5>
                        <i class="fa fa-star"></i>
                        <p>We love Italy, we love italian food. Visit at Pizza Mia was nothing less than pleasure.</p>
                    </div>

                    <!-- Testi Slide -->
                    <div class="item-inn"><img src="{% static "client/images/avatar-4.jpg" %}" alt="">
                        <h5>Kim Bassinger</h5>
                        <i class="fa fa-star"></i>
                        <p>We love Italy, we love italian food. Visit at Pizza Mia was nothing less than pleasure.</p>
                    </div>
                </div>
            </div>
        </section>

        <!-- Conatct Us -->
        <section class="contact tri-white-top padding-top-100 padding-bottom-100" id="contact">
            <div class="container">

                <!-- Heading Block -->
                <div class="heading text-center"><span>Get in Touch</span>
                    <h3>Contact Us</h3>
                    <hr>
                    <i class="fa fa-bookmark-o"></i></div>

                <!-- Conact Info -->
                <div class="contact-info">
                    <ul>
                        <li><i class="fa fa-map-o"></i>
                            <p>121 King Street, Melbourne
                                Victoria 3000 Australia</p>
                        </li>
                        <li><i class="fa fa-phone"></i>
                            <p>(02) 123-456-7890</p>
                            <p>(02) 600-700-800</p>
                        </li>
                        <li><i class="fa fa-globe"></i>
                            <p>example.com</p>
                            <p> info@example.com</p>
                        </li>
                    </ul>
                </div>

                <!-- CONTACT FORM -->
                <div class="contact-form text-center">
                    <div class="about-text text-center margin-top-80">
                        <h1>send us a message </h1>
                    </div>

                    <!-- Success Msg -->
                    <div id="contact_message" class="success-msg"><i class="fa fa-paper-plane-o"></i>Thank You. Your
                        Message has been Submitted
                    </div>

                    <!-- FORM -->
                    <form role="form" id="contact_form" class="contact-form" method="post" onSubmit="return false">
                        <ul class="row">
                            <li class="col-sm-6">
                                <label>
                                    <input type="text" class="form-control" name="name" id="name" placeholder="Name *">
                                </label>
                            </li>
                            <li class="col-sm-6">
                                <label>
                                    <input type="text" class="form-control" name="email" id="email"
                                           placeholder="Email *">
                                </label>
                            </li>
                            <li class="col-sm-6">
                                <label>
                                    <input type="text" class="form-control" name="company" id="company"
                                           placeholder="Phone no. *">
                                </label>
                            </li>
                            <li class="col-sm-6">
                                <label>
                                    <input type="text" class="form-control" name="website" id="website"
                                           placeholder="Subject">
                                </label>
                            </li>
                            <li class="col-sm-12">
                                <label>
                                    <textarea class="form-control" name="message" id="message" rows="5"
                                              placeholder="Your Message *"></textarea>
                                </label>
                            </li>
                            <li class="col-sm-12 text-center">
                                <button type="submit" value="submit" class="btn btn-round btn-dark btn-small"
                                        id="btn_submit" onClick="proceed();">Send Message
                                </button>
                            </li>
                        </ul>
                    </form>
                </div>
            </div>
        </section>

        <!-- MAP -->
        {#        <section class="map-block tri-white-top">#}
        {#            <div class="map-wrapper" id="map-canvas" data-lat="3.3741944" data-lng="-76.5326431" data-zoom="13"#}
        {#                 data-style="1"></div>#}
        {#            <div class="markers-wrapper addresses-block"><a class="marker" data-rel="map-canvas" data-lat="3.3741944"#}
        {#                                                            data-lng="-76.5326431" data-string="Envato"></a></div>#}
        {#        </section>#}
    </div>

{% endblock %}
    <!-- FOOTER -->
    <footer class="tri-white-top">
        <div class="container">
            <div class="row">
                <div class="col-md-8 center-block text-center"><img class="margin-bottom-50"
                                                                    src="{% static "client/images/logo-foot.png" %}"
                                                                    alt="">

                    <!-- NEWSLETTER -->
                    <div class="newsletter">
                        <h6>Join Newsletter</h6>
                        <form>
                            <label>
                                <input type="search" placeholder="Your Email Address">
                            </label>
                            <button type="submit"><i class="fa fa-envelope-o"></i></button>
                        </form>
                    </div>

                    <!-- Social Icons -->
                    <div class="social-icons"><a href="#."><i class="fa fa-facebook"></i></a> <a href="#."><i
                            class="fa fa-twitter"></i></a> <a href="#."><i class="fa fa-google"></i></a></div>
                </div>
            </div>
        </div>
    </footer>

    <!-- RIGHTS -->
    <section class="rights tri-white-top">
        <div class="container">
            <p>Copyright 2017 Pizza Mia. All rights reserved for SaaS Universidad del Valle

            </p>
        </div>
    </section>
</div>


</body>
</html>