{% extends "client/base_purchases.html" %}
{% load static %}
{% load socialaccount %}

{% block head %}
<!-- SmartAdmin Styles : Caution! DO NOT change the order -->
<!--<link rel="stylesheet" type="text/css" media="screen" href="{% static "baseapp/css/smartadmin-production-plugins.min.css" %}">-->
<link rel="stylesheet" type="text/css" media="screen" href="{% static "baseapp/css/smartadmin-production.min.css" %}">
<!--<link rel="stylesheet" type="text/css" media="screen" href="{% static "baseapp/css/smartadmin-skins.min.css" %}">-->

<link rel="stylesheet" type="text/css" media="screen" href="{% static "baseapp/css/bootstrap.min.css" %}">
<link rel="stylesheet" type="text/css" media="screen" href="{% static "baseapp/css/font-awesome.min.css" %}">
<link rel="stylesheet" type="text/css" media="screen" href="{% static "baseapp/css/bootstrap-social.css" %}">
{% endblock %}


{% block content %}
<!--<section class="inside-resturant tri-white-top padding-top-25 padding-bottom-20">-->
<!--<div class="container">-->
	
	<div class="heading text-center"><span>Iniciar sesión</span>
        <hr>
    <i class="fa fa-bookmark-o"></i></div>

<div class="row">
	<div class="col-xs-12 col-sm-12 col-md-5 col-lg-4 center-block" style="float:none;">
		<div class="well no-padding">
			<form action="#" id="login-form" class="smart-form client-form" method="post">
				<!--<header>-->
				<!--	Sign In-->
				<!--</header>-->
				{% csrf_token %}
	
				<fieldset>
					
					<article >
						{% if messages %}
							{% for message in messages %}
							<div class="alert alert-{{ message.tags }} fade in">
								<button class="close" data-dismiss="alert">
									×
								</button>
								{{ message }}
							</div>
							{% endfor %}
						{% endif %}
					</article>
					
					<section>
						<label class="label">E-mail</label>
						<label class="input"> <i class="icon-append fa fa-user"></i>
							<input type="email" name="email">
							<b class="tooltip tooltip-top-right"><i class="fa fa-user txt-color-teal"></i> Please enter email address/username</b></label>
					</section>
	
					<section>
						<label class="label">Password</label>
						<label class="input"> <i class="icon-append fa fa-lock"></i>
							<input type="password" name="password">
							<b class="tooltip tooltip-top-right"><i class="fa fa-lock txt-color-teal"></i> Enter your password</b> </label>
						<div class="note">
							<a href="{% url 'account_reset_password' %}">Forgot password?</a>
						</div>
					</section>
	
					<section>
						<label class="checkbox">
							<input type="checkbox" name="remember" checked="">
							<i></i>Stay signed in</label>
					</section>
				</fieldset>
				<footer>
					<button type="submit" class="btn btn-primary">
						Sign in
					</button>
				</footer>
			</form>
		</div>
		
		<h5 class="text-center"> - Or sign in using -</h5>
											
			<div class="social-box">
				<div class="row" style="margin-bottom: 10px;">
				    <div class="col-md-12">
				        <a href="#" title="Facebook" class="btn btn-block btn-social btn-lg btn-facebook">
				            <i class="fa fa-facebook"></i> Sign in with Facebook
				        </a>
				    </div>
				</div>
	
				<div class="row" style="margin-bottom: 10px;">
					<div class="col-md-12">
					    <a href="{% provider_login_url 'google' process='login' %}" title="Google" class="btn btn-block btn-social btn-lg btn-google">
					        <i class="fa fa-google"></i> Sign in with Google
					    </a>
					</div>
				</div>
	
			</div>
	</div>
</div>


<!--</div>-->
<!--</section>	-->
{% endblock %}
