{% extends 'layout_list.html' %}

{% block new_action %}
    <a style=" color: white; text-decoration: none;" href="{% url "pizza:ingredient_creation" %}"
       class="btn bg-color-green"><i class="fa fa-plus"></i> Create New Ingredient</a>
{% endblock %}

{% block table %}
    <table id="datatable_tabletools" class="table table-striped table-bordered table-hover" width="100%">
        <thead>
        <tr>
            <th>Name</th>
            <th>Price</th>
            <th>Description</th>
            <th width="20%" data-hide="phone,tablet"></th>
        </tr>
        </thead>
        <tbody>
        {% for ingredient in object_list %}
            <tr>
                <td>{{ ingredient.name }}</td>
                <td>{{ ingredient.price }}</td>
                <td>{{ ingredient.description }}</td>
                <td class="text-align-center">
                    <div class="btn-group">
                        <a class="btn btn-default" href="{% url "pizza:ingredient_detail" ingredient.id %}"><i
                                class="fa fa-eye"></i></a>
                        <a class="btn btn-default" href="{% url "pizza:ingredient_edit" ingredient.id %}"><i
                                class="fa fa-edit"></i></a>
                        <a class="btn btn-default" href="{% url "pizza:ingredient_delete" ingredient.id %}"><i
                                class="fa fa-trash"></i></a>
                    </div>
                </td>

            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
