appdirs==1.4.0
Django==1.10.5
django-tenant-schemas==1.6.11
factory-boy==2.8.1
Faker==0.7.7
gunicorn==19.6.0
olefile==0.44
packaging==16.8
Pillow==4.0.0
pkg-resources==0.0.0
pyparsing==2.1.10
python-dateutil==2.6.0
six==1.10.0
